*{
    padding: 0;
    margin: 0;
}

body{
    width: 100%;
      min-height: 100vh;   
      background-size: cover;  
      background-image: url(elefante-africano-235722367.jpg);
      display: flex;
      flex-wrap: wrap;
}

body::-webkit-scrollbar{
    width: 0;
}

.teste{
    display: flex;
    flex-wrap: wrap;
}
.teste .bloco{
    width: 20vw;
    height: 20vh;
    background: black;
    color: #fff;
    text-align: center;
    transition: opacity 2s ease;
}

.teste .bloco:nth-of-type(odd){
    background: rgb(94, 94, 94);
}

@keyframes anim{
	0%{
		transform: translateZ(30px);
	}
	100%{
		transform: translateY(120vh);
	}
}