*{
    margin: 0;
    padding: 0;
}
body{
    background: rgb(177, 248, 186);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 100px 0 100px 0;
}
.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #fff;
    padding: 20px;
    padding-bottom: 300px;
    border-radius: 5px;
}

.wrapper h1{
    margin-bottom: 30px;
}
ul{
    margin-bottom: 40px;
}

li{
    list-style:none;
    display: flex;
    justify-content: center;
}

ul li .small-emoji{
    font-size: 60px;
}

.buttons-area button{
    width: 150px;
    height: 50px;
    padding: 10px 20px 10px 20px;
    outline: none;

    border: none;
    border-radius: 5px;
    color: #fff;
}

.buttons-area .clear-btn{
    background: #eb1d1d;
}

.buttons-area .refresh-btn{
    background: #2db2e6;
    display: none;
}


#loading{
    margin-bottom: 40px;
}

#grupo{
    margin-bottom: 50px;
}


